.wrapper {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 16px 20px;
}

.input {
  width: 100%;
  border: none;
  padding: 0;
  font-weight: 300;
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: #4d4d4d;
}

.input::placeholder {
  opacity: 0.2;
  font-style: italic;
}

.input:focus {
  outline: none;
}

.arrow {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  background-image: url('./assets/down-arrow.svg');
  background-size: cover;
  color: #4d4d4d;
  opacity: 0.2;
}