*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

h1, button, input, label {
  line-height: 1.1;
}

input, button {
  font-family: inherit;
  font-size: inherit;
}